@import '@/styles/Main.scss';


.experience {
  align-items: center;
  background-color: $bg1;
  display: flex;
  padding: 7rem 2rem;

  @media (min-width: $screen-lg) {
    padding-bottom: 10rem;
    padding-top: 10rem;
  }
}

.container {
  @include container;
  z-index: 1;
}

.title {
  @include title;
  margin-bottom: 3rem;
  text-align: center;
}

.item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 5rem 0;

  &:not(:first-child) {
    border-top: .1rem solid #424254;
  }

  @media (min-width: $screen-md) {
    gap: 5rem;
  }
}

.position {
  color: $text-color;
  font-size: 2.4rem;
  font-weight: 100;
  width: 100%;

  @media (min-width: $screen-md) {
    width: 5%;
  }
}

.name {
  color: $light;
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 600;
  width: 100%;

  @media (min-width: $screen-md) {
    width: 15%;
  }
}

.text {
  @include text;
  width: 100%;

  @media (min-width: $screen-md) {
    width: 51%;
  }
}

.dates {
  color: $light;
  font-size: 2.4rem;
  font-weight: 600;
  width: 100%;

  @media (min-width: $screen-md) {
    text-align: right;
    width: 16%;
  }
}